:root {
  --light: 254, 250, 244;
  --cream: 248, 235, 203;
  --blue-gray: 106, 128, 134;
  --logo-blue: 62, 163, 197;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: normal;
  background-color: rgba(var(--light));
  background-image: url(images/grunge.png);
  background-repeat: no-repeat;
  background-position: top;
}
a {
  text-decoration: none;
  color: inherit;
}
#special {
  background-color: rgba(var(--blue-gray));
  background-image: url(./images/special-bg.png);
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 1.5rem;
  color: white;
  font-family: serif;
}

header {
  border-bottom: 1px solid rgba(var(--blue-gray));
}
em {
  text-transform: uppercase;
  font-family: sans-serif;
}
nav {
  padding-block: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1rem;
  justify-content: center;
}
nav figure {
  flex-basis: 100%;
  flex-grow: 0;
}
nav figure img {
  display: block;
  margin: auto;
}
nav ul li {
  flex-grow: 0;
  flex-basis: 0;
}
#wrapper {
  padding-inline: 2rem;
}
